/* Google Font */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* Universal Selector For Browser */

*{
    margin: 0px;
    padding: 0px;
}

/* Header 1st Banner CSS Style */

.banner{

    color: white;
    text-align: center;
    max-width: 1440px;
    margin: 0PX auto;
    width: 75%;
    height: 530px;
    border-radius: 16px;
    margin-top: 10px;
    background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('./images/Banner\ Image.png');
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.banner h3 {
    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    font-weight: 400;
}

.banner h1 {
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;
}

/* Banner CSS End */


/* Discount CSS Start */

.discount-section {
    margin: 120px auto;
    width: 1600px;
    height: 733px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.discount-section h1 {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
    margin-bottom: 48px;
}

.discount-section p {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}

.discount-section h3 {
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
}

.discount-section img {
    width: 802.9px;
    height: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-top: 50px;
}

/* Discount Section End */
